<!-- preference domain: org.mozilla.firefox -->
<!-- use this plist to remove the plugin via MDM as an alternative means of installation -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>EnterprisePoliciesEnabled</key>
    <true/>
    <key>ExtensionSettings</key>
    <dict>
        <key>support@produce8.com</key>
        <dict>
            <key>installation_mode</key>
            <string>blocked</string>
        </dict>
    </dict>
</dict>
</plist>
